.timeline-details {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    align-items: start;
    grid-gap: 60px;
  }
  
  /* timeline summary */
  .timeline-summary {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
  }
  .timeline-summary .date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--title-color);
  }
  .timeline-summary .details {
    margin: 30px 0;
    color: var(--bg-color-dark);
    line-height: 1.8em;
    font-size: 0.9em;
  }
  
  .timeline-summary + .btn {
    margin-top: 20px;
  }
  
  /* timeline comments */
  .timeline-comments label {
    margin-bottom: 0px;
  }
  .timeline-comments textarea {
    min-height: 40px;
    font-size: 1.5em;
  }
  
  /* comment list */
  .timeline-comments h4 {
    color: var(--heading-color);
  }
  .timeline-comments li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: var(--bg-color-dark);
  }
  .comment-author {
    display: flex;
    align-items: center;
    color: var(--heading-color);
  }
  .comment-author .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .comment-date {
    color: var(--dimmed-color);
    font-size: 0.9em;
    margin: 4px 0 10px;
  }
  .comment-content {
    color: var(--text-color);
    font-size: 0.9em;
  }

  @media screen and (max-width: 768px ) {

    .timeline-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 0;
      margin: 0;
      padding: 0;
    }
  }