@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #ffc13b;
  --text-color: #eaeaea;
  --primary-color: #fafafa;
  --highlight-color: #EF3E42;
  --bg-color: #fdfdfd;
  --bg-color-dark: #1b1b1b;
  --btn-color: #ff6e40;
  --dimmed-color: #888;
}


*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--color-bg-dark);
}
/* base styles */
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 2rem;
  color: var(--heading-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.56);
  display: inline-block;
  text-transform: uppercase;
}
.btn {
  background: var(--btn-color);
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--heading-color);
}
.btn:hover {
  color: #282828;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: rgb(48, 48, 48);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}